
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stored Data</title>
</head>
<body>
    <h1>Stored Data</h1>
    <table border="2">
        <tr>
            <th>Sr.no</th>
            <th>Url</th>
            <th>Number of Words</th>
            <th>Number of Sentences</th>
            <th>Post Tags</th>
            <th>Keywords Frequency</th>
            <th>Image Count </th>
            <th>Headings Used</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
            <td>{{ row[6] }}</td>
            <td>{{ row[7] }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('portal') }}">Go back to the form</a>
</body>
</html>

